@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link href="@Url.Content("/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
  <link href="@Url.Content("/assets/css/metro.css")" rel="stylesheet" />
  <link href="@Url.Content("/assets/font-awesome/css/font-awesome.css")" rel="stylesheet" />
  <link href="@Url.Content("/assets/css/style.css")" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="@Url.Content("/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css")" />
  <link rel="stylesheet" type="text/css" href="@Url.Content("/content/styles/admin.main.css")" />
  @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>
  @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
  {

      @RenderSection("MainContent", required: false)
        @RenderBody()

    <div style="height:80px;"></div>  
      
    <div class="form-actions navbar-fixed-bottom">
        <button type="submit" id="submit" class="btn blue"><i class="icon-ok"></i> 提交</button>
        <span id="submitloading" style="display:none;"><img src='@Url.Content("/content/images/loading.gif")'/></span>
        <button type="button" class="btn" id="cancel">撤销</button>
        @Html.ValidationSummary(false)
    </div>
  }
   @RenderSection("OtherContent", required: false)

  <script type="text/javascript" src="@Url.Content("/assets/js/jquery-1.8.3.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("/assets/bootstrap/js/bootstrap.min.js")"></script>  
  <script type="text/javascript" src="@Url.Content("/content/scripts/jquery.validate.min.js")"></script>	
  <script type="text/javascript" src="@Url.Content("/content/scripts/jquery.validate.unobtrusive.min.js")"></script>	
  <script type="text/javascript" src="@Url.Content("/content/scripts/jquery.numeric.js")"></script>
  <script type="text/javascript" src="@Url.Content("/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("/content/scripts/jquery.ui.datapicker-zh-CN.js")"></script>
  <script type="text/javascript" src="@Url.Content("/content/scripts/admin.edit.js")"></script>	
 
  @RenderSection("PageSpecificJavascriptIncludes", required: false)
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
